<h1>Projects</h1>

<div class="grid">
  <div class="row">

<% @projects.each do |project| %>
    
	 <div class="col s6 m4">
	      <div class="card">
	        <div class="card-image">
	          <img src="http://materializecss.com/images/sample-1.jpg">
	          <span class="card-title">  <%= project.name %></span>
	          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
	        </div>
	        <div class="card-content">
				  <%= link_to 'Edit', edit_project_path(project) %>
				  <%= link_to "Delete", project_path(project), method: :Delete	, data: {confirm: "Are you sure?"} %>
	        </div>

	      </div>
	    </div>
<% end %>	    
  </div>  
</div>

